<div class="row">
	<div class="col-sm-8">
		<table class="table table-bordered">
			<tr>
				<th>First Name</th>
				<td>{{user.local.firstName}}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{user.local.lastName}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{user.local.email}}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{user.local.password}}</td>
			</tr>
		</table>	
	</div>
</div>