<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            {{#if failMessage}}
                <div class="alert alert-danger">{{failMessage}}</div>
            {{/if}}
            <form method="POST" actions="/forgot">
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
