<div class="jumbotron">
  	<p class="lead mb24">User Authentication System</p>
  	<small><strong>Created with:</strong></small>
	<ul class="mt8 mb32">
		<li>bcrypt-nodejs</li>
	    <li>body-parser</li>
	   	<li>connect-flash</li>
	    <li>connect-mongo</li>
	    <li>crypto</li>
	    <li>cookie-parser</li>
	   	<li>express</li>
	   	<li>express-handlebars</li>
	   	<li>express-session</li>
	   	<li>mongoose</li>
	   	<li>nodemailer</li>
	   	<li>passport</li>
	   	<li>passport-local</li>
	</ul>

  	<ul class="list-unstyled list-inline">
  		<li><a class="btn btn-primary" href="/register" role="button">Register Now</a></li>
  		<li><a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a></li>
  		<li><a href="/auth/twitter" class="btn btn-primary"><span class="fa fa-twitter"></span> Login with Twitter</a></li>
        <li><a href="/auth/google" class="btn btn-primary"><span class="fa fa-google"></span> Login with Google</a></li>
  	</ul>
</div>