<div class="jumbotron">
  	<p class="lead mb24">User Authentication System</p>
  	<small><strong>Created with:</strong></small>
	<ul class="mt8 mb32">
		<li>bcrypt-nodejs</li>
	    <li>body-parser</li>
	   	<li>connect-flash</li>
	    <li>connect-mongo</li>
	    <li>cookie-parser</li>
	   	<li>express</li>
	   	<li>express-handlebars</li>
	   	<li>express-session</li>
	   	<li>mongoose</li>
	   	<li>nodemailer</li>
	   	<li>passport</li>
	   	<li>passport-local</li>
	</ul>

  	<p><a class="btn btn-primary" href="/register" role="button">Register Now</a></p>
</div>